<app-navbar></app-navbar>

<div class="container mt-5">
  <h4>Your collected Pokèmon</h4>
  <!--Shows the users collected pokemon-->
  <div>
    <h1>{{ pokemons[0] }}</h1>
    <img src="{{ pokemons[1] }}" />
  </div>

  <!--Logout button which deletes localstorage and returns to login site-->
  <form class="mt-5" (ngSubmit)="onLogout()">
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</div>
