
<div class="container">
    <h1 class="mt-2">Login to Pokèmon Trainer</h1>
    
    <!-- Form with userfeedback if the username is viable or not (must have min 4 char)-->
    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
        <fieldset class="mt-5">
            <label class="form-label" for="username">Enter Username</label>
            <input class="form-control" type="text" 
                    [ngClass]="{ 'is-valid': username.valid, 'is-invalid': (username.invalid && ( username.dirty || username.touched)) }"
                    name="username"
                    id="username" 
                    required 
                    minlength="4"
                    ngModel #username="ngModel"
                    placeholder="xXMySickUsername1337Xx"/>
            <div *ngIf="username.errors && username.invalid && username.invalid && ( username.dirty || username.touched )">
                <p *ngIf="username.errors.required">Username is required</p>
                <p *ngIf="username.errors.minlength">The username is to short</p>
            </div>
        </fieldset>

        <!-- Button for logging in-->
        <button type="submit" [disabled]="createForm.invalid" class="btn btn-success mt-2">Login</button>
    </form>




</div>